<% @articles.each do |article| %>
  <div class="col-md-6">
    <h2><%= article.title %></h2>
    <p><%= truncate(article.description, length: 100) %></p><hr>
    <%= link_to 'Read it', article_path(article), class: 'btn btn-secondary' %>
  </div>
<% end %>
