<header class="masthead mb-auto">
  <div class="inner">
    <h3><%= link_to "Blog", root_path, class: 'masthead-brand'%></h3>
    <nav class="nav nav-masthead justify-content-center">
      <%= link_to "Home", root_path, class: 'nav-link' %>
      <%= link_to "About", about_path, class: 'nav-link' %>
      <%= link_to "Articles", articles_path, class: 'nav-link' %>
    </nav>
  </div>
</header>
