@import "bootstrap";

body {
  padding-top: 3.5rem;
}

.article-meta-details {
  margin-bottom: 15px;
  margin-top: 15px;
}

.links {

  text-transform: uppercase;
  font-weight: bold;
}

.links a {
  color: black;
}

.input_checkbox input {
  width: auto !important;
}
